!!! 5
html
  head
    title Todo App
    script(src="/socket.io/socket.io.js")
  body
    p
      if user
          if user.lists
            each list in user.lists
              a(href="/l/#{list.name}") #{list.name}
              &nbsp;|&nbsp;
          a(href="/account") Account (#{user.name})
          &nbsp;|&nbsp;
          a(href="/logout") Log Out
      else
          a(href="/") Tasks
          &nbsp;|&nbsp;
          a(href="/login/google") Log In
    block content
    script(type='text/javascript', src='/public/js/todo.js')
